Handling of HEAD requests violates RFC 9110

## Bug Report

Axum responds to HEAD requests with `content-length: 0`, which (in almost all cases) violates HTTP semantics. Refer to [RFC 9110, Sec. 9.3.2, Paragraph 2](https://datatracker.ietf.org/doc/html/rfc9110#section-9.3.2-2).

If the value for the `content-length` header that would be produced in response to a GET request is not known at the time of responding to a HEAD request, then it should be omitted, not included with a value of 0.

Real-world example: A handler that archives data into a `*.zip` file and responds with the archive. Assume that there is quite a lot of data, so archiving just to know the length of the hypothetical response to GET would be considered wasteful. It would be incorrect to respond with `content-length: 0`, because the archive itself will likely not be the empty file.

The same argument is used in https://github.com/tokio-rs/axum/pull/755#issuecomment-1037931480, so I allow myself to mention the author: @davidpdrsn

Previous issues that seem to be related:
 - https://github.com/tokio-rs/axum/issues/730
 - https://github.com/tokio-rs/axum/issues/747

### Version

Checked out https://github.com/tokio-rs/axum.git at commit `9f4d52e310a6053e49f3db09ce02f723a7a3f5bb` which is `main` as of 2026-05-01.

### Platform

NixOS on Windows Subsystem for Linux, likely irrelevant.

```
Linux wsl 6.6.87.2-microsoft-standard-WSL2 #1 SMP PREEMPT_DYNAMIC Thu Jun  5 18:30:46 UTC 2025 x86_64 GNU/Linux
```

### Description

I tried this code: https://github.com/tokio-rs/axum/blob/9f4d52e310a6053e49f3db09ce02f723a7a3f5bb/examples/handle-head-request/src/main.rs

Actual:

```shell-session
$ git clone https://github.com/tokio-rs/axum.git
$ cd axum/example/handle-head-request
$ cargo run -p example-handle-head-request
[build output]
listening on 127.0.0.1:3000
$ curl -s -D - -o /dev/null http://127.0.0.1:3000/get-head
HTTP/1.1 200 OK
content-type: text/plain; charset=utf-8
x-some-header: header from GET
content-length: 13
date: [current date and time]
$ curl -s -D - -o /dev/null --head http://127.0.0.1:3000/get-head
HTTP/1.1 200 OK
x-some-header: header from HEAD
content-length: 0
date: [current date and time]
```

Expected:

```diff
 $ git clone https://github.com/tokio-rs/axum.git
 $ cd axum/example/handle-head-request
 $ cargo run -p example-handle-head-request
 [build output]
 listening on 127.0.0.1:3000
 $ curl -s -D - -o /dev/null http://127.0.0.1:3000/get-head
 HTTP/1.1 200 OK
 content-type: text/plain; charset=utf-8
 x-some-header: header from GET
 content-length: 13
 date: [current date and time]
 $ curl -s -D - -o /dev/null --head http://127.0.0.1:3000/get-head
 HTTP/1.1 200 OK
 x-some-header: header from HEAD
-content-length: 0
 date: [current date and time]
```

Alternative Resolution (more complicated to implement):

```diff
 $ git clone https://github.com/tokio-rs/axum.git
 $ cd axum/example/handle-head-request
 $ cargo run -p example-handle-head-request
 [build output]
 listening on 127.0.0.1:3000
 $ curl -s -D - -o /dev/null http://127.0.0.1:3000/get-head
 HTTP/1.1 200 OK
 content-type: text/plain; charset=utf-8
 x-some-header: header from GET
 content-length: 13
 date: [current date and time]
 $ curl -s -D - -o /dev/null --head http://127.0.0.1:3000/get-head
 HTTP/1.1 200 OK
 x-some-header: header from HEAD
-content-length: 0
+content-length: 13
 date: [current date and time]
```


The exact example you testing with special cases head requests and doesn't return a body https://github.com/tokio-rs/axum/blob/9f4d52e310a6053e49f3db09ce02f723a7a3f5bb/examples/handle-head-request/src/main.rs#L28-L30

If you remove that `if` then the response is

```
❯ curl --head localhost:3000/get-head
HTTP/1.1 200 OK
content-type: text/plain; charset=utf-8
x-some-header: header from GET
content-length: 13
date: Fri, 01 May 2026 22:04:08 GMT


```

which seems correct to me.

And if you set `content-length` manually

```
if method == http::Method::HEAD {
    return ([
        ("x-some-header", "header from HEAD"),
        ("content-length", "13"),
    ])
    .into_response();

}
```

then axum doesn't strip it:

```
❯ curl --head localhost:3000/get-head
HTTP/1.1 200 OK
x-some-header: header from HEAD
content-length: 13
date: Fri, 01 May 2026 22:13:50 GMT


```

So seems to me like the example is at fault.

@davidpdrsn your answer resolves the cases where any of these two preconditions are given:
 1. the length of the body, thus the value of `content-length`, is cheap to compute (or even statically known), or
 2. the user can afford to not special-case HEAD and is happy with the default behavior of just removing the body.

It does not help in the case where the user wants to actually treat HEAD differently from GET, which is what the example alludes to:

https://github.com/tokio-rs/axum/blob/9f4d52e310a6053e49f3db09ce02f723a7a3f5bb/examples/handle-head-request/src/main.rs#L32-L33

What if `do_some_computing_task` is actually computationally intensive? It might take multiple seconds to compute what ends up in the body of the response, and the application wants to avoid that. I do not want my application to execute and spend energy on `do_some_computing_task` just to get the correct `content-length` and have the result be thrown away.

What I can do in this case is (just like in the example) have the application branch on the request method and return headers that are cheap to compute if it is HEAD. Note that `content-length` is *not* cheap to compute in some cases.

I did exactly this for my use case of an archive download: First, cheaply validate whether the archive that the user requests can be computed (otherwise return 404). Then, once it is clear that the archive could be computed, branch on `method`. If it is `axum::htp::HEAD`, then do *not* make the expensive computation, but still reply with `content-disposition` and other headers that the archive would be sent with on GET. To my surprise, I received `content-length` which I had not specified, and which makes my application violate RFC 9110.

<details>
<summary>More details on my use-case which are only tangentially relevant.</summary>

The response of my application to GET actually uses `axum::body::Body::from_stream` to stream output. But it obtains the output from a `tokio::process::Command` it spawns, which writes the archive to its standard output. The concrete command used is `git archive`. Before `git archive` even can start writing the contents of the archive it must do quite a few things, like load configuration, read many files from the filesystem, etc. So in my case I want to even avoid the application spawning `git archive` in the first place. All of this is in my opinion analogous to `do_some_computing_task` being expensive.

</details>

> So seems to me like the example is at fault.

I disagree. It is a bare-bones example of the use-case I have, and I chose it because that way I do not have to bother you with my code, but can instead refer to, well, literally an example. Please take a moment to re-read the example under the assumption that `do_some_computing_task` is expensive and must be avoided on HEAD requests.

Right that makes sense. I see what you mean now.

Would you be up for submitting a fix?

> Would you be up for submitting a fix?

Yes. I write quite a bit of Rust, so that should be fine. I have never contributed to axum, though. What I fear (without having looked at the code yet) is that there are code paths that do not differentiate well between "no body" and "empty body". To simplify, it would be the difference between `body: Option<B>` and `body: B` where `B` is some kind of body. I will try, but if that turns out to be the case and goes deep into axum I might have to give up.

Its been a while since I've touched the code so I'm not sure either but I invite you to give it a shot and let us know what you find.

`http_body::Body` also has a [`size_hint` method](https://docs.rs/http-body/latest/http_body/trait.Body.html#method.size_hint) that will probably come in handy. I believe we do already use that in some places.

It looks like even with no body explicitly specified, there will be

```rust
res.size_hint() == SizeHint { lower: 0, upper: Some(0) }
```

in

https://github.com/tokio-rs/axum/blob/9f4d52e310a6053e49f3db09ce02f723a7a3f5bb/axum/src/routing/route.rs#L170-L171

That seems like it could be the cause.

My gut feeling is that the size hint should be

```rust
SizeHint { lower: 0, upper: None }
```

in this case, since it is not known how large the body might be. This would also cause `set_content_length` to not set the header. I will investigate.

Yeah, you seem to use [`http_body_util::Empty`](https://docs.rs/http-body-util/0.1.3/http_body_util/struct.Empty.html) for `().into_response()`, which returns an exact size hint of zero, and thus won't fly in this particular case.

Hm right. Would it be more correct to not set a content-length on HEAD responses if the size hint is exactly 0 then?

I guess that hurts GETs that legitimately does have an empty body but maybe that's still better?

I think your Body::unknown PR is also nice but maybe it doesn't fix the root problem? Wdyt?

> Hm right. Would it be more correct to not set a content-length on HEAD responses if the size hint is exactly 0 then?

No, because there might be legitimate responses with `content-length: 0`. Just imagine a web server for static files that serves the empty file. This is perfectly legal.

There might even be someone implementing an application that has different branches for HEAD and GET, and in the branch for HEAD they specifically check whether the file they would serve on GET is empty. And if that is the case, they would set `content-length: 0`. Of course I realize that this example is contrived, but the application would be perfectly correct doing so, and in this case the application author would be right to say that axum behaves wrongly, IMO.

Special casing responses with `content-length: 0` is conceptually problematic.

> I guess that hurts GETs that legitimately does have an empty body but maybe that's still better?

I think you mean the same thing as with my example of responding with the empty file.

> I think your Body::unknown PR is also nice but maybe it doesn't fix the root problem? Wdyt?

Why does it not fix the root problem? (Sincerely asking, not teasing.)

> Why does it not fix the root problem? (Sincerely asking, not teasing.)

Because users have to remember to use it.

Note that I changed:

```diff
 impl IntoResponse for () {
     fn into_response(self) -> Response {
-        Body::empty().into_response()
+        Body::unknown().into_response()
     }
 }
```

And this is the implementation that `impl IntroResponse for HeaderMap` as well as `impl IntoResponse for Extensions` end up using. So, I'd argue that for many users it will be a natural change.

The example in `example/handle-head-request` needs no further/explicit changes to get the fix.

On the other hand, I would, for my own use-case, be happy to explicitly switch to `Body::unknown`. This does not feel bad at all to me. I come from the other end: As a new axum user I am even slightly worried about all the things it automatically does for me. And having `Body::unknown` provides the greatest flexibility for users.

If someone ever has the same problem, maybe they find this issue right here, and then they realize "Ah okay, I just have to use `Body::unknown`, alright."  and they carry on.

I think it's actually pretty tricky to find a solution that just magically works on all applications that are out there depending on axum already, which seems to be what you are aiming to do.

---

I am happy to discuss the PR over on its own page as well 😸

Im just trying to find the behavior that works for most people even if they aren't familiar with all axum's APIs.

The RFC says

> However, a server MAY omit header fields for which a value is determined only while generating the content.

So we are allowed to omit the content-length if we cannot determine it.

Changing `()` to have an unknown body size feels too broad to me. I worry that might impact other responses using `()` that don't care about HEAD requests.

> Changing `()` to have an unknown body size feels too broad to me. I worry that might impact other responses using `()` that don't care about HEAD requests.

Right. But as soon as you add a body, say with `body_mut`, the `Unknown` value disappears and you are fine again.

The only case where it matters, if I understand correctly, is: Applications that *rely on* `()` producing `content-length: 0` on a HEAD request. Which hopefully are ... none. All other applications should not be impacted, right?

Of course, someone may be surprised if they go and inspect the `size_hint` on their `().into_response()` as well. Not sure how relevant that is.

> The RFC says
> 
> > However, a server MAY omit header fields for which a value is determined only while generating the content.
> 
> So we are allowed to omit the content-length if we cannot determine it.

Yes. I originally referred to that very paragraph in the RFC and have read it. What's your point here? Omitting is notably different from sending a wrong value. Omitting means that you could just *never* send `content-length` for all responses to HEAD, but you would again have many unhappy users if you do that.

In [`378f9d4d9ede5050c22c8da8f7f1f77bbd65ce58`](https://github.com/lorenzleutgeb/axum/commit/378f9d4d9ede5050c22c8da8f7f1f77bbd65ce58) I have added a test that demonstrates that responding with `().into_response()` to a GET requests will still carry `content-length: 0`.

> Omitting is notably different from sending a wrong value.

That's exactly my question. Is it better to send no content-length when the size hint is exactly 0? Then responses that use () wouldn't be wrong. 

The trade off being that legitimately empty responses wouldn't get a content-length.

So my question is which is the better trade off? I don't know 🤷 

> > Omitting is notably different from sending a wrong value.
> 
> That's exactly my question. Is it better to send no content-length when the size hint is exactly 0? Then responses that use () wouldn't be wrong.

My answer is: No, because ...

> The trade off being that legitimately empty responses wouldn't get a content-length.

... I consider this behavior for empty responses a bug.

> So my question is which is the better trade off? I don't know 🤷

I gave you my opinion on this matter in https://github.com/tokio-rs/axum/issues/3741#issuecomment-4363702907 and just repeated it. I'll refrain from repeating it again. It's fine if you want to think it through and take your time, or want to wait for others to weigh in before you choose which side of the trade you prefer 😃 

> In [`378f9d4d9ede5050c22c8da8f7f1f77bbd65ce58`](https://github.com/lorenzleutgeb/axum/commit/378f9d4d9ede5050c22c8da8f7f1f77bbd65ce58) I have added a test that demonstrates that responding with `().into_response()` to a GET requests will still carry `content-length: 0`.

Oh that's interesting! I'm honestly curious why that works 😆 it's been a while since I've worked on axum.

> > In [`378f9d4d9ede5050c22c8da8f7f1f77bbd65ce58`](https://github.com/lorenzleutgeb/axum/commit/378f9d4d9ede5050c22c8da8f7f1f77bbd65ce58) I have added a test that demonstrates that responding with `().into_response()` to a GET requests will still carry `content-length: 0`.
> 
> Oh that's interesting! I'm honestly curious why that works 😆 it's been a while since I've worked on axum.

I have never worked on axum before, so take it with many grains of salt, but I guess that some layer will attempt to actually poll the body, and since its implementation immediately returns `Poll::Ready(None)`, it'll end up with a length of zero *if it is actually read*. Note that this does not happen on HEAD, see:

https://github.com/tokio-rs/axum/blob/9f4d52e310a6053e49f3db09ce02f723a7a3f5bb/axum/src/routing/route.rs#L173-L175

So yeah, as the author of that new mechanism (I know I didn't do much, but I guess it is still technically correct to say so) I am biased, but: So far it seems to just work! 😊 I am happy to be told otherwise and consider concrete counter-examples of course!

Alright cool. I'll have to dig into it and see what's going on. But if we do still return `content-length: 0` on GET then your suggestion seems like the way to go!

Thanks for looking into this.

This is fixed now that https://github.com/tokio-rs/axum/pull/3742 is merged right?