Unrecognised HTTP methods return 405 Method Not Allowed instead of 501 Not Implemented

Currently, requests using an HTTP method that the server does not recognise (e.g. FOOBAR) are answered with 405 Method Not Allowed by default. Per [RFC 9110](https://www.rfc-editor.org/info/rfc9110/), they should be answered with 501 Not Implemented.

Requests using an HTTP method that the server does recognise, but which it is unable to respond to for this resource, should continue to be answered with 405 Method Not Allowed.

From [RFC9110 § 15.5.6](https://www.rfc-editor.org/info/rfc9110/#section-15.5.6):

> The 405 (Method Not Allowed) status code indicates that the method received in the request-line is known by the origin server but not supported by the [target resource](https://www.rfc-editor.org/info/rfc9110/#target.resource). The origin server MUST generate an [Allow](https://www.rfc-editor.org/info/rfc9110/#field.allow) header field in a 405 response containing a list of the target resource's currently supported methods.

From [RFC9110 § 15.6.2](https://www.rfc-editor.org/info/rfc9110/#section-15.6.2):

> The 501 (Not Implemented) status code indicates that the server does not support the functionality required to fulfill the request. This is the appropriate response when the server does not recognize the request method and is not capable of supporting it for any resource.

From [RFC9110 § 9.1](https://httpwg.org/specs/rfc9110.html#method.overview):

> An origin server that receives a request method that is unrecognized or not implemented SHOULD respond with the [501 (Not Implemented)](https://httpwg.org/specs/rfc9110.html#status.501) status code. An origin server that receives a request method that is recognized and implemented, but not allowed for the target resource, SHOULD respond with the [405 (Method Not Allowed)](https://httpwg.org/specs/rfc9110.html#status.405) status code.

---

This issue was identified using the conformance test suite developed in this paper: Rautenstrauch, J., & Stock, B. (2024). Who’s Breaking the Rules? Studying Conformance to the HTTP Specifications and its Security Impact. In Proceedings of the 19th ACM Asia Conference on Computer and Communications Security (pp. 843–855). ACM. https://doi.org/10.1145/3634737.3637678. I am however not affiliated with these authors.

**Implementation hazard:** 501 is global, "does not recognize the request method and is not capable of supporting it for any resource", so this determination cannot be made per-resource.

Interestingly, though they're proxy servers and not frameworks, all 9 implementations in the paper also failed to send either 501 or 405 in some circumstances.

I don't think this warrants tracking all method usages across the whole router tree. I'd be ok with returning by default 405 for all known methods and 501 for unknown methods but the used/unused distinction is not easy in simple configurations and impossible when either `Router::route_service` or `MethodRouter::any` is used.

The spec says SHOULD so we do have some leeway here. And I'd be interested in real life use cases for this.