Missing allow header in 405 Method Not Allowed replies

## Bug Report

### Version

axum v0.4.4
axum-core v0.1.1

### Platform

Debian Linux 12 (“bookworm”)
Linux feynman 5.15.0-3-amd64 <span>#</span>1 SMP Debian 5.15.15-1 (2022-01-18) x86_64 GNU/Linux
rustc 1.58.1 (db9d1b20b 2022-01-20)

### Description

When the server sends a reply with a 405 Method Not Allowed status, it should include an `allow` header, but doesn't.

#### Steps to reproduce

Run the axum examle program:

```rust
use axum::{routing::get, Router};

#[tokio::main]
async fn main() {
    let app = Router::new().route("/", get(|| async { "Hello, World!" }));
    axum::Server::bind(&"0.0.0.0:3000".parse().unwrap())
        .serve(app.into_make_service())
        .await
        .unwrap();
}
```

Send a HTTP/1.1 `DELETE` request for `/`. I used the the following command on the Linux command line:

```sh
printf 'DELETE / HTTP/1.1\r\n\r\n' | nc 127.0.0.1 3000
```

#### Observed behavior

The server replies with a 405 Method Not Allowed status (as expected), but does not send an `allow` header.

#### Expected behavior

The output contains the line:

```
allow: GET, HEAD
```

Web servers are expected to include an `allow` reply header when they send a 405 status reply (see RFC 7231, section 6.5.5).

I wasn't aware of this. Thanks for reporting! Should be easy to fix since [`MethodRouter` knows exactly which methods it has routes for](https://github.com/tokio-rs/axum/blob/main/axum/src/routing/method_routing.rs#L477-L488).

Thank you for fixing this so quickly. Works great for me!